#NAME;#IP;#TYPE;#USER
MIKROTIK-DEVICE-1;192.168.1.11;mikrotik_routeros;MAIN_USER
UBNT-SWITCH-1;192.168.1.12;ubiquiti_edgeswitch;MAIN_USER
FORTIGATE-FW-1;192.168.1.13;fortinet;FORTI_KEY
CISCO-SMB-SWITCH;192.168.1.14;cisco_s300;MAIN_USER
